data/fundamental-data.db filter=lfs diff=lfs merge=lfs -text
doc/fundamental_db.spec filter=lfs diff=lfs merge=lfs -text
doc/pass filter=lfs diff=lfs merge=lfs -text
doc/R[[:space:]]-[[:space:]]systematic[[:space:]]investor filter=lfs diff=lfs merge=lfs -text
doc/StockScreening+Ranking.pdf filter=lfs diff=lfs merge=lfs -text
doc/fib filter=lfs diff=lfs merge=lfs -text
doc/2_Multiple[[:space:]]Factor[[:space:]]Model[[:space:]]–[[:space:]]Building[[:space:]]Fundamental[[:space:]]Factors[[:space:]]|[[:space:]]R-bloggers.html filter=lfs diff=lfs merge=lfs -text
doc/ArratiaCh6_2.pdf filter=lfs diff=lfs merge=lfs -text
doc/barra_handbook_US.pdf filter=lfs diff=lfs merge=lfs -text
doc/experts_criteria filter=lfs diff=lfs merge=lfs -text
doc/FactorModels_ZivotWang2006.pdf filter=lfs diff=lfs merge=lfs -text
doc/FundAnal_project.zip filter=lfs diff=lfs merge=lfs -text
doc/1_Multiple[[:space:]]Factor[[:space:]]Model[[:space:]]–[[:space:]]Fundamental[[:space:]]Data[[:space:]]|[[:space:]]Systematic[[:space:]]Investor.html filter=lfs diff=lfs merge=lfs -text
data/dow30_2009-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2010-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2010-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2015-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2018-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2018-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2007-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2015-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2015-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2011-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2011-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2012-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2012-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2013-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2013-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2014-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2009-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2010-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2011-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2011-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2014-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2008-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2012-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2014-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2010-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2017-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2013-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2014-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2015-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2017-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2017-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2018-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2013-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2017-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_monolithic.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2012-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-2018_T3M_price.pkl filter=lfs diff=lfs merge=lfs -text
data/dow30_2006-2019_financials.pkl filter=lfs diff=lfs merge=lfs -text
data/dow30_2006-2019_T1M_price.pkl filter=lfs diff=lfs merge=lfs -text
data/dow30_2006-2019_T3M_price.pkl filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-2018_financials.pkl filter=lfs diff=lfs merge=lfs -text
data/sp500_2012-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2017-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2018-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2007-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2012-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2018-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2012-1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2011-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2011-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2008-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2011-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2014-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2013-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2013-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2016-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2014-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2010-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2013-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2017-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2015-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2014-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2015-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2010-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2010-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2017-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2017-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2010-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2009-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2009-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2009-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2012-4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2014-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2018-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2010-4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2012-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2012-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_monolithic.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2009-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2011-2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2007-3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2009-4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2017-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2009-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2011-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2014-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2016-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2017-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2007-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2009-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2012-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2014-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2016-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2018-3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2009-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2010-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2013-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2014-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2017-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2018-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2011-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2013-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2013-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2018-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2011-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2012-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2014-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2012-2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2013-4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2016-4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2017-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2015-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2010-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2016-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2018-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2011-2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2018-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2008-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2010-3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2015-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2018-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2013-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2010-1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2010-2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2011-4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2017-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2009-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2011-3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2013-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2012-4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2013-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2008-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2012-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2008-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2011-4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2016-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2014-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2012-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2017-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2015-Q1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2014-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2011-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2014-1.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2009-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2010-4.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2013-3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2015-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2015-2.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2016-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2015-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2016-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2017-2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2008-3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2015-3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2013-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2015-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2015-Q3.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2016-Q2.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2010-3.csv filter=lfs diff=lfs merge=lfs -text
data/dow30_2017-1.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2014-Q4.csv filter=lfs diff=lfs merge=lfs -text
data/sp500_2015-4.csv filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
